<div class="<%= div_class %>">
  <button type="button" class="<%= button_class %>"><%= caption %></button>
  <button class="dropdown-toggle <%= button_class %>" type="button" id="label-<%= id %>" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="<%= list_class %>" role="menu" aria-labelledby="label-<%= id %>">
    <%= yield %>
  </ul>
</div>