<div class="<%= div_class %>">
  <button class="dropdown-toggle <%= button_class %>" type="button" id="dropdown-<%= id %>" data-toggle="dropdown">
    <%= caption %>
    <span class="caret"></span>
  </button>
  <ul class="<%= list_class %>" role="menu" aria-labelledby="dropdown-<%= id %>">
    <%= yield %>
  </ul>
</div>