<div class="<%= div[:class] %>">
  <button type="button" class="<%= button[:class] %>"><%= button[:caption] %></button>
  <button class="dropdown-toggle <%= button[:class] %>" type="button" id="<%= button[:id] %>" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="<%= ul[:class] %>" role="menu" aria-labelledby="<%= button[:id] %>">
    <%= content %>
  </ul>
</div>