<div class="<%= div[:class] %>">
  <button class="dropdown-toggle <%= button[:class] %>" type="button" id="<%= button[:id] %>" data-toggle="dropdown">
    <%= button[:caption] %>
    <span class="caret"></span>
  </button>
  <ul class="<%= ul[:class] %>" role="menu" aria-labelledby="<%= button[:id] %>">
    <%= content %>
  </ul>
</div>