---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag font_awesome_css, bootstrap_css, bootstrap_theme_css %>
    <title>Bh test page (Middleman)</title>
  </head>
  <body>
    <div class='container'>

    <h1>Alerts</h1>

      <!-- Try setting different :dismissible and :context options -->
      <%= alert_box 'You accepted the Terms of service.' %>

      <% alert_box context: :warning, dismissible: true, id: 'alert', class: :en, data: {js: 1} do %>
        <em>Thanks!</em> You accepted the <%= link_to 'Terms of service', '/#terms' %>.
      <% end %>

      <h1>Panels</h1>

        <%= panel 'Plain text' %>

        <!-- Try setting different :title, :tag and :context options -->
        <% panel title: 'Panel Title', context: :primary, tag: :aside, id: 'my-panel', data: {value: 1} do %>
          <div class='panel-body'>Text <em>styled</em> with icons: <%= glyphicon :ok %></div>
          <div class='panel-footer'><h4>Footer</h4></div>
        <% end %>

      <h1>Panel rows</h1>

        <% panel_row do %>
          <%= panel 'Plain full-width panel' %>
        <% end %>

        <!-- Try setting a different :column_class option -->
        <% panel_row column_class: 'col-sm-4', id: 'my-panel-row', data: {value: 1} do %>
          <%= panel 'John Smith', title: 'User', context: :info %>
          <% panel title: 'Phone' do %>
            <div class='panel-body'><%= glyphicon :earphone %> 323-555-5555</div>
          <% end %>
          <%= panel 'Los Angeles, CA', title: 'City' %>
        <% end %>

      <h1>Modals</h1>

        <%= modal 'Plain text' %>

        <!-- Try setting different :title, :size, :button or :context options -->
        <% modal title: 'Modal Title', button: {size: :large, context: :primary}, size: :small do %>
          <div class="modal-body">Text <em>styled</em> with icons: <%= glyphicon :ok %></div>
          <div class="modal-footer"><%= button 'Accept' %></div>
        <% end %>

      <h1>Navs</h1>

        <% nav do %>
          <li class='active'>
            <%= link_to 'Home', '/' %>
          </li>
          <li>
            <%= link_to 'Profile', '/#profile' %>
          </li>
          <li>
            <%= link_to 'Settings', '/#settings' %>
          </li>
        <% end %>

        <br />
        <!-- Try setting different :layout or :as options -->
        <% nav as: :pills, layout: :stacked, id: 'my-nav', data: {value: 1} do %>
          <li class='active'>
            <%= link_to 'Home', '/' %>
          </li>
          <li>
            <%= link_to 'Profile', '/#profile' %>
          </li>
          <li>
            <%= link_to 'Settings', '/#settings' %>
          </li>
        <% end %>

      <h1>Navbars</h1>

        <% navbar do %>
          <% vertical do %>
            <%= link_to 'Home', '/' %>
          <% end %>
        <% end %>

        <!-- Try adding a horizontal element and setting different :inverted, :fluid, :position or :padding options -->
        <% navbar inverted: true, position: :bottom, padding: 100, id: 'my-navbar', data: {value: 1} do %>
          <% vertical do %>
            <%= link_to 'Home', '/', class: 'navbar-brand' %>
          <% end %>
          <% horizontal do %>
            <% nav class: 'navbar-right' do %>
              <li class='active'>
                <%= link_to 'Home', '/' %>
              </li>
              <li>
                <%= link_to 'Profile', '/#profile' %>
              </li>
              <li>
                <%= link_to 'Settings', '/#settings' %>
              </li>
            <% end %>
          <% end %>
        <% end %>

      <h1>Buttons</h1>

        <%= button 'Plain text' %>

        <!-- Try setting different :context, :size and :layout options -->
        <% button context: :info, size: :small do %>
          Text <em>styled</em> with icons: <%= glyphicon :ok %>
        <% end %>

      <h1>Dropdowns</h1>

        <%= dropdown 'Plain caption' %>

        <!-- Try setting different :split, :direction, :align, :groupable, :layout, :context or :size options -->
        <% dropdown 'Plain caption', split: true, direction: :up, align: :right, groupable: true, context: :info, size: :extra_small do %>
          <%= link_to 'Home', '/' %>
          <%= link_to 'Profile', '/#profile' %>
          <%= link_to 'Settings', '/#settings' %>
        <% end %>

      <h1>Progress bars</h1>

        <%= progress_bar percentage: 75 %>

        <!-- Try passing multiple values with different :percentage, :label, :context, :striped, :animated options -->
        <%= progress_bar([
            {percentage: 40, label: 'Completed', context: :success},
            {percentage: 20, label: true, striped: true, context: :warning},
            {percentage: 30, label: false, animated: true},
          ], id: 'my-container', data: {value: 1})
        %>

      <h1>Glyphicons</h1>

        <!-- Try setting a different icon -->
        <%= glyphicon :zoom_in %>

      <h1>Icons</h1>

        <%= icon :user %>

        <!-- Try setting a different :library option -->
        <%= icon :user, library: :font_awesome, class: 'fa-2x' %>

      <h1>Button to</h1>

        <%= button_to "New", '/#new', method: :get, context: :link %>
        <br />
        <% button_to '#edit', method: :get, id: 'my-btn-form' do %>
          <button class="important btn btn-default btn-lg" id="my-btn-to">Edit <strong>user</strong></button>
        <% end %>


    </div>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
    <%= javascript_include_tag bootstrap_js %>
  </body>
</html>